name: Deploy Landing Site

on:
  push:
    branches:
      - main
    paths:
      - 'landing-site/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Manual Deploy to Landing Site Repo
        env:
          GH_TOKEN: ${{ secrets.API_TOKEN_GITHUB }}
        run: |
          cd landing-site
          git init
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add .
          git commit -m "Deploy: Manual update from updates repo"
          git push --force https://$GH_TOKEN@github.com/AllSet-App/allset-app.github.io.git main
