name: Init Keystore

on:
  workflow_dispatch:

jobs:
  generate-keystore:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate Keystore
        run: |
          mkdir -p android/keystores
          keytool -genkey -v -keystore android/keystores/release.keystore \
            -alias aofbiz \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -storepass aofbiz_keystore_pass \
            -keypass aofbiz_keystore_pass \
            -dname "CN=AOF Biz, OU=IT, O=AOF Biz, L=Colombo, S=Western, C=LK"

      - name: Commit Keystore
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add android/keystores/release.keystore
          git commit -m "Chore: Add release keystore"
          git push
